[
  {
    "userId": 1,
    "id": 0,
    "name": "Joe",
    "title": "US bans sale of Huawei, ZTE tech amid security fears",
    "body": "Protests against China's pervasive anti-virus controls that have confined millions of people to their homes spread to Shanghai and other cities after complaints they might have worsened the death toll in an apartment fire in the northwest."
  },
  {
    "userId": 1,
    "id": 1,
    "name": "Alex",
    "title": "Ukrainian women have started learning a crucial war skill: how to fly a drone",
    "body": "KYIV, Ukraine — Ukrainian women have played a crucial part in their country's resistance to Russia's full-scale invasion. Now, a new school is training women to play a vital new role."
  },
  {
    "userId": 1,
    "id": 2,
    "name": "Amada",
    "title": "Frontier Airlines drops its customer service line",
    "body": "Frontier airlines will no longer let customers call a phone number in order to speak with a live agent. And while the budget airline is known for its cost-cutting measures, most major airlines still operate customer service lines."
  },
  {
    "userId": 1,
    "id": 3,
    "name": "Joe",
    "title": "The Museum of Broadway reveals the show behind the show",
    "body": "A few years ago, Tony Award-winning producer Julie Boardman and Diane Nicoletti, who's created fan experiences for Game of Thrones and Marvel, were chatting at an event. Boardman said that one of her investors asked why there wasn't a Broadway museum."
  }
]